* {
  margin: 0;
  padding: 0;

  .container {
    background-color: aqua;
    height: 100vh;

    .navbar {
      border: 1px solid black;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .head {
        color: red;
        margin-top: 1rem;
      }

      .toggle-btn {
        border: 1px solid rgba(0, 0, 0, 0.272);
        height: 1.5rem;
        width: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 5px;
        position: absolute;
        left: 90%;
        top: 505;

        .line {
          background-color: rgba(0, 0, 0, 0.301);
          height: 1px;
          width: 70%;
          margin: 5px 0;
        }
      }

    }
  }
}